<div class="navbar-fixed"> 
	<nav class="nav-extended">
		<div class="row nav-wrapper">
			<a materialize="sideNav" href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="large material-icons">dehaze</i></a>
			  <div class="usuario col l4 m4 s4 hide-on-med-and-down">
					<div class="col l4 m4 s4">
						<a href='#'><img  data-activates='dropdown1' class="dropdown-button nav-images logged-out-user" src="../../assets/man-user.svg" alt=""></a>
							<ul id='dropdown1' class='dropdown-content'>
								<li><a href="#!">Editar perfil</a></li>
								<li><a href="#!">two</a></li>
								<li class="divider"></li>
								<li><a href="#!">three</a></li>
								<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
								<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
							</ul>
						</div>
						<div class="col l8 m8 s8">
							<div class="conta row">
								<a routerLink="login">Logar</a>
							</div>
							<div class="conta row">
								<a routerLink="cadastro">Criar conta</a>
							</div>
						</div>
			    </div>
					<div class="col l4 m4 s4 center">
						<div class="logoteste">
							<a class="icone" routerLink="home"><img class="company-logo center-align" src="../../assets/img/nome.png" alt="Indie Invaders"></a>
						</div>
					</div>
					<div class="col l4 m4 s4 input-field">
						<input type="search" name="search">
						<label for="search">Pesquisar</label>
					</div>
		    </div>
		    <div class="nav-content hide-on-med-and-down">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a routerLink="home">Home</a></li>
				<li class="tab"><a routerLink="pesquisa">Categorias</a></li>
				<li class="tab"><a routerLink="parceria">Por que ser um parceiro?</a></li>
				<li class="tab"><a routerLink="sobre">Sobre Nós</a></li>
				<li class="tab"><a routerLink="cadastrojogo">Cadastre seu jogo aqui</a></li>
			</ul>
		</div>
	</nav>
	<!-- side-nav-->
</div>
<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
      </div>
      <a href="#!user"><img class="logged-out-user-nav" src="../../assets/man-user.svg" alt=""></a>
      <a routerLink="login"><span class="white-text name">login</span></a>
      <a routerLink="cadastro"><span class="white-text email">criar conta</span></a>
    </div></li>
    <li><a class="subtopico subheader center-align">Navegação</a></li>
		<li><a class="subtopico waves-effect" routerLink="home">Home</a></li>
		<li><a class="subtopico waves-effect" routerLink="pesquisa">Categorias</a></li>
		<li><a class="subtopico waves-effect" routerLink="parceria">Por que ser um parceiro?</a></li>
		<li><a class="subtopico waves-effect" routerLink="sobre">Sobre Nós</a></li>
		<li class="tab"><a class="subtopico waves-effect" routerLink="cadastrojogo">Cadastre seu jogo aqui</a>
  </ul>