.logged-out-user {
	width: 100%;
	max-width: 5vw;
	min-width: 5vw;
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
}

.logged-out-user-nav {
	height: 20vh;
	width: 20vw;
	min-width: 15vw;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle; 
}

.company-logo {
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
	max-width: 35vh;
	margin-bottom: -3vh;
}

.company-logopequeno{
	width: 30%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
	margin-top: 2%;
	margin-bottom: 2%;
	min-width: 40px;
	max-width: 20vh;
}

.nav-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0D1B1B;
	margin-bottom: 0vh;
}
.nav-extended {
	background-color: #335964;
}

.tabs{
	/* ao ativar, a barra de navegação fica mais fina, porém a faixa de localização para o usuário continua abaixo */
	/* margin: -1vh 0; */
}

.background{
	background-color: #0D1B1B;
}

.navbar-fixed{
	height: 25vh;
}

nav{
	line-height: 1px;
}

.conta{
	font-size: 1rem;
}

input{
	border-radius: 10px !important;
	padding: 1vh !important;
}

.side-nav{
	background-color: #335964;
}

.subtopico{
	color: white;
}


@media only screen and (max-width: 650px) {
    .conta{
		font-size: 0.8rem;
		line-height: 0px;
    }
}

