<fieldset><label>Informações para compra:</label>
	<div class="row">
	  	<div class="input-field col l6 s12">
	    	<input id="cartao" type="text" class="validate">
	    	<label for="cartao">n° do cartão</label>
	 	</div>
		<div select class="input-field col l6 s12">
		    <input id="nometitular" type="text" class="validate">
		    <label for="nometitular">Nome no cartão</label>
		</div>
	</div>
	<div class="row">
		<div select class="input-field col l6 s12">
		    <select>
		      <option value="" disabled selected>Choose your option</option>
		      <option value="hipercard">Hipercard</option>
		      <option value="visa">VISA</option>
		      <option value="mastercard">mastercard</option>
		      <option value="elo">elo</option>
		      <option value="americanexpress">American Express</option>
		      <option value="restaurante">Ticket Restaurante</option>
		    </select>
		    <label>Bandeira</label>
	  	</div>
	  	<div select class="input-field col l6 s12">
		    <input id="seguranca" type="text" class="validate">
		    <label for="seguranca">n° de segurança</label>
		</div>
	</div>
</fieldset>