<div class="navbar-fixed">
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<div class="row">
				<div class="col l2">
					<img class="nav-images user-no-photo" src="../../assets/man-user.svg" alt="No User Photo">
				</div>
				<div class=" center col l8">
					<a routerLink="">
						<img class="logo" src="../../assets/img/indieInvaders.png" alt="">
					</a>
				</div>
				<div class="col l2 input-field">
					<!-- TODO fix o material icons não aparecer -->
					<input type="search" name="search">
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
				</div>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a routerLink="home">Home</a></li>
					<li class="tab"><a routerLink="">Categorias</a></li>
					<li class="tab"><a routerLink="">Desenvolvedores</a></li>
					<li class="tab"><a routerLink="parceria">Por que ser um parceiro?</a></li>
					<li class="tab"><a routerLink="sobre">Sobre Nós</a></li>
				</ul>
			</div>
		</div>
  	</nav>
</div>
