@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/* Usando Dosis porque Yaldevi não está disponível no Google Fonts */

.input-field {
	float: right;
}

.nav-extended {
	margin-bottom: 1px;
}

ul li {
	font-size: 1.25em;
}

ul li, label {
	font-family: 'Dosis', sans-serif;
}

input {
	background-color: lightgrey;
}

.company-logo {
	font-family: 'Press Start 2P', serif;
	font-size: 2em;
}

.nav-images {
	float: left;
	height: 4em;
  	margin: 1em 0;	
}
.nav-content {
	background-color: #335964;
}
.user-no-photo {
	display: flex;
	align-items: center;
}
.row {
	margin: 0;
}
.nav-wrapper {
	background-color: #0B181C ;
}
