@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

<<<<<<< HEAD
nav {
	height: 10%;
}

ul li {
	width: 100%;
	font-size: 1.25em;
}

ul li, label {
	font-family: 'Dosis', sans-serif;
}

input {
	background-color: lightgrey;
}

.logo{
	width: 8%;
}

.brand-logo {
	font-family: 'Press Start 2P', serif;
	font-size: 2em;
}

.nav-images {
	float: left;
	height: 4em;
  	margin: 1em 0;	
}

.user-no-photo {
	display: flex;
	align-items: center;
}

.row {
	margin: 0;
=======
.nav-content{
	text-align: center !important;
>>>>>>> b31808f7d589e99807a8328d97cecce2b6ddedde
}

.input-field {
	float: right;
}