<nav>
	<div class="row main-navbar">
		<!-- Para a classe brand-logo funcionar seria necessário adicionar o nav-wrapper -->
		<div class="nav-wrapper">
			<!-- A imagem sairá do código pois será provida pelo back -->
			<div class="col l2">
				<img class="nav-images user-no-photo" src="../../assets/man-user.svg" alt="No User Photo">
			</div>
			<!-- Colocando a logo dentro de um link, para a página home ficar sempre acessível ao usuário -->		
			<div class="col l8">
				
				<a href="" class="brand-logo center"><img class="logo" src="../../assets/img/indieInvaders.png">Indie Invaders</a>
			</div>
			<div class="col l2 input-field">
				<!-- TODO fix o material icons não aparecer -->
				<i class="valign-center material-icons prefix">search</i>
				<input type="text" name="search">
				<label for="search">Pesquisar</label>
			</div>
		</div>
	</div>
	<div class="row menu">
		<ul>
			<div routerLinkActive="active" class="col l3">
				<a> 
					<li class="center">
						Categorias
					</li>
				</a>
			</div>
			<div routerLinkActive="active" class="col l3">
				<a >
					<li class="center">
						Desenvolvedores
					</li>
				</a>
			</div>
			<div routerLinkActive="active" class="col l3">
				<a routerLink="parceria">
					<li class="center">
						Por que ser um parceiro?
					</li>
				</a>
			</div>
			<div routerLinkActive="active" class="col l3">
				<a >
					<li class="center">
						Sobre nós	
					</li>
				</a>
			</div>
		</ul>
	</div>
</nav>
