<div class="navbar-fixed"> 
	<nav class="nav-extended">
	    <div class="row nav-wrapper">
		    <div class="usuario col l4 m4 s4">
					<div class="col l4 m4 s4">
							<a href='#'><img  data-activates='dropdown1' class="dropdown-button nav-images logged-out-user" src="../../assets/man-user.svg" alt=""></a>
							<ul id='dropdown1' class='dropdown-content'>
								<li><a href="#!">one</a></li>
								<li><a href="#!">two</a></li>
								<li class="divider"></li>
								<li><a href="#!">three</a></li>
								<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
								<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
							</ul>
					</div>
					<div class="col l8 m8 s8">
						<div class="conta row">
							<a href="login">Logar</a>
						</div>
						<div class="conta row">
							<a href="cadastro">Criar conta</a>
						</div>
					</div>
		    </div>
				<div class="col l4 m4 s4 center">
					<a class="icone" routerLink=""><img class="company-logo" src="../../assets/img/indieInvaders.png" alt="Indie Invaders"></a>
				</div>
				<div class="col l4 m4 s4 input-field">
					<input type="search" name="search">
					<label for="search">Pesquisar</label>
				</div>
	    </div>
	    <div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a routerLink="home">Home</a></li>
			<li class="tab"><a routerLink="">Categorias</a></li>
			<li class="tab"><a routerLink="parceria">Por que ser um parceiro?</a></li>
			<li class="tab"><a routerLink="sobre">Sobre Nós</a></li>
		</ul>
	</div>
	</nav>
</div>