<fieldset><label>Informações para Depósito:</label>
	<div class="row">
	  	<div class="input-field col l6 s12">
	    	<input id="conta" type="text" class="validate">
	    	<label for="conta">Conta Corrente</label>
	 	</div>
		<div select class="input-field col l6 s12">
		    <input id="agencia" type="text" class="validate">
		    <label for="agencia">Agência</label>
		</div>
	</div>
	<div class="row">
		<div select class="input-field col l6 s12">
		    <input id="operacao" type="text" class="validate">
		    <label for="operacao">Operação</label>
		</div>
	  	<div select class="input-field col l6 s12">
		    <input id="banco" type="text" class="validate">
		    <label for="banco">Banco</label>
		</div>
	</div>
</fieldset>
