<section class="row sobre-banner first-section">
  <h1 class="sobre-title">Jogadores com um sonho</h1>
</section>
<section class="row">
  <h2>Lorem Ipsum Dolor Sir Amet</h2>
   <div class="container text-box">
        <!-- TEXTO INVADE IMAGENS EM DEVICES PEQUENOS-->
        <p class="flow-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a 
            libero blandit, cursus sem porttitor, fermentum odio. Sed vitae tellus 
            et nisi euismod ultrices. Morbi elementum facilisis iaculis. Integer eget 
            bibendum quam. Praesent commodo a risus sit amet pretium. Donec dictum arcu 
            vel dictum dignissim. Aenean a fermentum tellus. Aliquam tincidunt facilisis 
            diam, sed blandit mauris sagittis vel. Nullam iaculis sapien odio, sed sodales 
            ex viverra vitae.
        </p>
    </div>
</section>
<section class="row equipe-row">
    <h3>Nossa Equipe</h3>
  <ul class="equipe-list">
    <li class="col l3 m3 s6">
        <img  src="../../../assets/eu.jpg" alt="">
        <h3>Danilo</h3>
    </li>
    <li class="col l3 m3 s6">
        <img  src="../../../assets/eu.jpg" alt="">
        <h3>Igor</h3>
    </li>
    <li class="col l3 m3 s6">
        <img  src="../../../assets/eu.jpg" alt="">
        <h3>Rhana</h3>
    </li>
    <li class="col l3 m3 s6">
        <img  src="../../../assets/eu.jpg" alt="">
        <h3>Rodrigo</h3>
    </li>
  </ul>
</section>