<section class="row sobre-banner first-section">
  <h1 class="sobre-title">Jogadores com um sonho</h1>
</section>
<section class="row">
  <h2>Lorem Ipsum Dolor Sir Amet</h2>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a 
      libero blandit, cursus sem porttitor, fermentum odio. Sed vitae tellus 
      et nisi euismod ultrices. Morbi elementum facilisis iaculis. Integer eget 
      bibendum quam. Praesent commodo a risus sit amet pretium. Donec dictum arcu 
      vel dictum dignissim. Aenean a fermentum tellus. Aliquam tincidunt facilisis 
      diam, sed blandit mauris sagittis vel. Nullam iaculis sapien odio, sed sodales 
      ex viverra vitae. Praesent efficitur, quam sit amet sodales fermentum, urna sem 
      dapibus sem, id accumsan orci augue eget lectus. Nam eleifend lacus sit amet mattis 
      imperdiet. Aliquam a imperdiet urna. Duis orci erat, lacinia eu condimentum sed, 
      venenatis ut est. Cras diam nulla, dapibus id porttitor quis, porta eget nulla.
  </p>
</section>
<section class="row equipe-row">
  <ul class="equipe-list">
    <li>
        <h3>Danilo</h3>
        <img src="../../../assets/eu.jpg" alt="">
    </li>
    <li>
        <h3>Igor</h3>
        <img src="../../../assets/eu.jpg" alt="">
    </li>
    <li>
        <h3>Rhana</h3>
        <img src="../../../assets/eu.jpg" alt="">
    </li>
    <li>
        <h3>Rodrigo</h3>
        <img src="../../../assets/eu.jpg" alt="">
    </li>
  </ul>
</section>