<div class="container">
    <fieldset><label>Edite o seu perfil de desenvolvedor:</label>
    	<form>
			<div class="row">
			    <div class="input-field col l12 s12">
			    	<input id="username" type="text" class="validate">
			    	<label for="username">Nome de usuário:</label>
			    </div>
			</div>
			<div class="row">
			    <div class="input-field col l12 s12">
			    	<input id="telefone" type="text" class="validate">
			    	<label for="telefone">Telefone - Ex: 12345-6789</label>
				</div>
			</div>
			<div class="row">
			    <div class="input-field col l12 s12">
			      <input id="email" type="text" class="validate">
			      <label for="email">e-mail:</label>
			  </div>
			</div>
			<div class="row">
			    <div class="input-field col l12 s12">
			      <input id="contaCorrente" type="text" class="validate">
			      <label for="contaCorrente">Conta corrente:</label>
			  </div>
			</div>
			<div class="row">
			  <div select class="input-field col l12 s12">
			      <input id="agencia" type="password" class="validate">
			      <label for="agencia">Agência:</label>
			  </div>
			</div>
			 <div class="row">
			  <div select class="input-field col l12 s12">
			      <input id="banco" type="password" class="validate">
			      <label for="banco">Banco:</label>
			  </div>
			</div>
			<div class="row">
			    <div class="input-field col l12 s12">
			    	<input id="operacao" type="text" class="validate">
			    	<label for="operacao">Operação:</label>
			    </div>
			</div>
			<div class="col l6 m12 s12">
			  <button class="btn waves-effect waves-light" type="submit" name="login">Editar
			    <i class="material-icons right">send</i>
			  </button>
			</div>
		</form>
    </fieldset>
</div>