h2 {
	font-family: 'VT323', sans-serif;
	margin: 0;
}
.preco {
	position: absolute;
	font-size: 2em;
	font-family: 'Dosis', sans-serif;
	background-color: grey;
	border-radius: 10%;
	top: 10em;
	left: 20em;
	padding: 0  !important;
	opacity: 0.7;
	transition: background-color .1s ease-in;
}
.preco:hover {
	background-color: deepskyblue;
	opacity: 1;
}
.wrapper{
	display: flex;
	justify-content: center;
	margin: 7.5em 0;
}

.slider-image{
	background-size: auto 100% !important;
	background-repeat: no-repeat;
}

.slides{
	background-color: transparent;
}
