<section class="first-section">
	<div class="row container">
		<form #cadastro="ngForm" (ngSubmit)="onSubmit(cadastro)">
			<app-usuario></app-usuario>
			<!-- Escolha do usuario entre jogador e desenvolvedor -->
			<div class="tipo row valign-wrapper">
			  <div class="col l4 m3 s2 center-align">
			    <img class="escolha" src="../../../assets/img/joystick.svg">
			  </div>
			  <div class="col l4 m6 s8 center-align">
			    <div class="switch">
			      <label>
			        Jogador
			        <input type="checkbox" name="usertype" [(ngModel)]="switch">
			        <span class="lever"></span>
			        Desenvolvedor
			      </label>
			    </div>
			  </div>
			  <div class="col l4 m3 s2 center-align">
			    <img class="escolha" src="../../../assets/img/space-invaders.svg">s
			  </div>
			</div>
			<div class="selector">
				<app-jogador *ngIf="!switch"></app-jogador>
				<app-desenvolvedor *ngIf="switch"></app-desenvolvedor>
			</div>
			<div class="row">
				<div class="entrar col offset-l8 l4 m12 s12">
	        <button class="btn waves-effect waves-light" type="submit" name="login">Cadastrar
	          <i class="material-icons right">send</i>
	        </button>
	      </div>
			</div>
	    </form>
    </div>
</section>