.escolha{
	width: 100%;
}

.tipo{
	margin-top: 5vh
}

.topo{
	margin-top: -10vh;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #21FF21;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #21FF21;
}

.switch label .lever{
	background-color: #FA0FEC;
}

.switch label .lever:after{
	background-color: #FA0FEC;
}

.btn{
  margin-top: 5vh ;
	background-color: #335964;
	color: #DDDDDD;
}

.desenvolvedorcampo{
	margin-top: 10vh;
	border: solid 1px #21FF21;
}

.jogadorcampo{
	margin-top: 10vh;
	border: solid 1px #FA0FEC;
}

.usuario{
	margin-bottom: 10vh;
	border: solid 1px #335964;
}

input {
	color: #dddddd;
}


@media only screen and (max-width: 483px) {
    .labelswitch{
		font-size: 0.4em;
    }
		.switch{
			width: 30vw;
		}
}
