<section class="first-section row container">
  <form #form="ngForm" (ngSubmit)='searchGame(pesquisa)'>
    <div class="input-field">
      <input type="search" name="query" ngModel #pesquisa="ngModel">
      <i class="material-icons">search</i>
      <label for="query">Pesquisar jogo</label>
    </div>
    <button type="submit">jdasbiuhsauidhasiu</button>
  </form>
</section>
<div class="row">
  <aside class="col l4 m4 categories">
    <h2>Categorias</h2>
    <div class="container category-holder">
      <form #category="ngForm">
        <ul class="category-list">
          <li *ngFor="let tag of tags, let i = index">
            <input id="{{tag}}" type="radio" name="category" value="{{i}}" class="category"  ngModel #id="ngModel" (click)="getGamesByCategory(id)">
            <label for="{{tag}}">{{ tag }}</label>
          </li>
        </ul>
      </form>
    </div>
  </aside>
  <div class="col l6 m6 game-list-container">
    <ul class="game-list">
      <li class="game" *ngFor="let game of games">
        {{ game }}
        <span>
          <button class="btn right cart"><i class="material-icons">shopping_cart</i></button>
          <button class="btn right goToPage" (click)="checkGame()">Ver</button>
        </span>
      </li>
    </ul>
    <button class="btn back"><i class="material-icons">arrow_back</i></button>
    <button class="btn next"><i class="material-icons">arrow_forward</i></button>
  </div>
</div>
