h1, h2, h3, p {
    font-family: 'Dosis', sans-serif;
}
li h3 {
    text-align: center;
}
section {
    margin: 0.5em 0;
}
.first-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/gamersbg.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    /*background-blend-mode: multiply;*/
    background-repeat: no-repeat;
}
.text-box {
    height: 100%;
}
.equipe-list {
    height: 100%;
}
.equipe-list li {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipe-list li img {
    width: 50%;
    border-radius: 50%;
}