<section class="first-section">
	<div class="row container">
    <fieldset><label>Cadastrando seu jogo na nossa plataforma:</label>
		<form #cadastrojogo="ngForm" (ngSubmit)="onSubmit(cadastrojogo)" action="#">
      <div class="row">
        <div class="input-field col l12 m12 s12">
          <input  id="nomejogo" type="text" class="validate">
          <label for="nomejogo">Digite o nome do jogo aqui:</label>
        </div>
      </div>
      <div class="row">
        <h4>Selecione a categoria:</h4>
        <p>
          <input id="Aventura" value="1" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Aventura">Aventura</label>
        </p>
        <p>
          <input id="Survival" value="2" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Survival">Survival</label>
        </p>
        <p>
          <input id="Arcade" value="3" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Arcade">Arcade</label>
        </p>
        <p>
          <input id="RPG" value="4" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio" />
        <label for="RPG">RPG</label>
        </p>
        <p>
          <input id="Corrida" value="5" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Corrida">Corrida</label>
        </p>
        <p>
          <input id="Esportes" value="6" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Esportes">Esportes</label>
        </p>
        <p>
          <input id="Estrategia" value="7" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Estrategia">Estrategia</label>
        </p>
        <p>
          <input id="Acao" value="8" name="cadastrojogo" ngModel required #categoria="ngModel" type="radio"/>
        <label for="Acao">Ação</label>
        </p>
      </div>
      <div class="row">
        <div class="input-field col l12 m12 s12">
          <textarea id="descricao" class="materialize-textarea"></textarea>
          <label for="descricao">Descreva-o:</label>
        </div>
      </div>
      <div class="row">
        <div class="col l12 m12 s12 file-field input-field">
          <div class="btn">
            <span>Foto de apresentação do jogo</span>
            <input type="file">
          </div>
        </div>
        <div>
          <div class="col l12 m12 s12 file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row"> 
          <div class="input-field col l12 m12 s12">
              <input  id="valorjogo" type="text" class="validate">
              <label for="valorjogo">Digite o valor de venda desejado - Ex: 50.00</label>
            </div>
      </div>
      <div class="row"> 
          <div class="input-field col l12 m12 s12">
              <input  id="iddesenvolvedor" type="text" class="validate">
              <label for="iddesenvolvedor">Digite o seu id de desenvolvedor:</label>
            </div>
      </div>
      <div class="row">
        <div class="input-field col l6 s12">
          <input id="dataDeLancamento" type="text" name="dataDeLancamento" [(ngModel)]="datepicker"   materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy',   selectYears: 15}]">
          <label for="dataDeLancamento">Data de Lançamento:</label>
        </div>
      </div>
      <div class="row">
        <div class="col l6 m12 s12">
            <button class="btn waves-effect waves-light" (click)="abreModal()" type="submit" name="cadastrarjogo">Cadastrar
              <i class="material-icons right">send</i>
            </button>
        </div>
      </div>
    </form>
    </fieldset>
  </div>
  <div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
      <div class="modal-content">
        <h3>Dados enviados com sucesso</h3>
        <p>Os dados do jogo foram enviados ao nosso sistema e será avaliado para enfim cadastrar o jogo em nosso site.</p>
        <p>Muito obrigado por escolher o nosso serviço.</p>
      </div>
      <div class="modal-footer">
        <a href="home" class=" modal-action modal-close waves-effect waves-purple btn-flat">Ir à Home</a>
        <a href="cadastrojogo" class=" waves-effect waves-teal btn-flat">Cadastrar outro jogo</a>
        <a class=" waves-effect waves-red btn-flat" (click)="fechaModal()">Fechar</a>
      </div>
    </div>
</section>
