<footer class="page-footer">
  <div class="row">
    <div class="col l4 offset-l8 m4 offset-m8 s6 offset-s6">
      <ul class="icon-list">
        <li><a href="https://pt-br.facebook.com/"><img class="icone-footer" src="../../assets/icon/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://www.instagram.com/?hl=pt-br"><img class="icone-footer" src="../../assets/icon/instagram.svg" alt="Instagram"></a></li>
        <li><a href="https://twitter.com/login?lang=pt"><img class="icone-footer" src="../../assets/icon/twitter.svg" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
       @2019 Copyright
    </div>
  </div>
</footer>
