ul {
	display: flex;
}
ul li {
	margin:0 5%;
}
footer {
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	margin-top: 10vh;
	background-color: #0B181C;
	border: 1px solid #1E83A2;
}
footer .row {
	max-height: 30vh;
}

.icone-footer{
	width: 3vw;
	min-width: 40px;
}
