.escolha{
	width: 100%;
}

.tipo{
	margin-top: 5vh
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #21FF21;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #21FF21;
}

.switch label .lever{
	background-color: #FA0FEC;
}

.switch label .lever:after{
	background-color: #FA0FEC;
}

@media only screen and (max-width: 483px) {
    label{
		font-size: 0.4em;
    }
		.switch{
			width: 30vw;
		}
}
