<fieldset><label>Criando sua conta:</label>
	<!-- Começa o cadastro de usuário -->
	<div class="row">
      <div class="input-field col s8">
        <input  id="usuario" type="text" class="validate">
        <label for="usuario">Nome de Usuário</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="senha" type="password" class="validate">
        <label for="senha">Senha</label>
      </div>
      <div class="input-field col s6">
        <input id="senha1" type="password" class="validate">
        <label data-error="Senhas não correspondem" data-success="Senhas iguais" for="senha1">Confirmar senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate">
        <label for="email">e-mail</label>
      </div>
      <div class="input-field col s6">
        <input id="email1" type="email" class="validate">
        <label data-error="e-mail não corresponde" data-success="-email igual" for="email">Confirmar e-mail</label>
      </div>
    </div>
</fieldset>
<fieldset><label>Informações pessoais:</label>
	<div  class="row">
	  <div class="input-field col l6 s12">
	    <input  id="nome" type="text" class="validate">
	    <label for="nome">Nome</label>
	  </div>
	   <div class="input-field col l6 s12">
	    <input  id="cpf" type="text" class="validate">
	    <label for="cpf">CPF</label>
	  </div>
	</div>
	<div class="row">
	  <div class="input-field col l6 s12">
	    <input id="telefone" type="text" class="validate">
	    <label for="telefone">Telefone (opcional)</label>
	  </div>
	  <div class="input-field col l6 s12">
	    <input id="nascimento" type="date" class="validate">
	  </div>
	</div>
</fieldset>
