/* IMPORTS DE FONTES */
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

h1, h2, h3, h4, p {
	color: #dddddd;
	text-align: center;
}
body {
	background-color: #0D1B1B;
}
.first-section {
	margin-top: 10vh !important;
}