<div class="row center">
	<h2>{{ titulo }}</h2>
	<div materialize="slider" class="col l8 offset-l2 slider">	
		<ul class="slides">
			<li class="slider-item">
				<img class="slider-image" src="../../../../assets/game-temp/fez.jpg">
				<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
			</li>
			<li class="slider-item">
				<img class="slider-image" src="../../../../assets/game-temp/supermeatboy.jpg">
				<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
			</li>
			<li class="slider-item">
				<img class="slider-image" src="../../../../assets/game-temp/celeste.jpg">
				<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
			</li>
			<li class="slider-item">
				<img class="slider-image" src="../../../../assets/game-temp/furi.jpg">
				<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
			</li>
			<li class="slider-item">
				<img class="slider-image" src="../../../../assets/game-temp/messenger.jpg">
				<button class="preco btn waves-effect" (click)="checkGame()" >{{ preco }}</button>
			</li>
		</ul>
	</div>
</div>