<div class="scroll-container">
	<h2>{{ titulo }}</h2>
	<div materialize="carousel" class="carousel center">
		<a class="carousel-item" href="javascript:void(0);">
			<img src="../../../../assets/game-temp/fez.jpg">
		<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
		</a>
		<a class="carousel-item" href="javascript:void(0);">
			<img src="../../../../assets/game-temp/supermeatboy.jpg">
		<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
		</a>
		<a class="carousel-item" href="javascript:void(0);">
			<img src="../../../../assets/game-temp/celeste.jpg">
		<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
		</a>
		<a class="carousel-item" href="javascript:void(0);">
			<img src="../../../../assets/game-temp/furi.jpg">
		<button class="preco btn waves-effect" (click)="checkGame()">{{ preco }}</button>
		</a>
		<a class="carousel-item" href="javascript:void(0);">
			<img src="../../../../assets/game-temp/messenger.jpg">
		<button class="preco btn waves-effect" (click)="checkGame()" >{{ preco }}</button>
		</a>
	</div>
</div>