<footer class="page-footer">
  <div class="row">
    <div class="col l4 offset-l8">
      <!-- Eu não tenho os icones do footer, pode tascar eles aqui -->
      <ul class="icon-list">
        <li class="icone-footer">
          <img src="../../assets/icon/facebook.svg" alt="">
        </li>
        <li class="icone-footer">
          <img src="../../assets/icon/twitter.svg" alt="">
        </li>
        <li class="icone-footer">
          <img class="rebel" src="../../assets/icon/instagram.svg" alt="">
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
       @2019 Copyright
    </div>
  </div>
</footer>
