<footer class="page-footer">
  <div class="row">
    <div class="col l4 offset-l8 m4 offset-m8 s6 offset-s6">
      <ul class="icon-list">
        <li><img class="icone-footer" src="../../assets/icon/facebook.svg" alt="Facebook"></li>
        <li><img class="icone-footer" src="../../assets/icon/instagram.svg" alt="Instagram"></li>
        <li><img class="icone-footer" src="../../assets/icon/twitter.svg" alt="Twitter"></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
       @2019 Copyright
    </div>
  </div>
</footer>
