ul {
	display: flex;
}
ul li {
	margin:0 100%;
}
.icone-footer	{
	width: 3vw;
}
footer {
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	margin-top: 10vh;
	background-color: #0B181C;
	border: 1px solid #1E83A2;
	box-sizing: border-box;
	/* comentei, pois se ativar cria uma margem na parte de baixo do footer */
	/* height: 35vh; */
}
footer .row {
	max-height: 30vh;
}