h2 {
    font-family: 'VT323', sans-serif;
    font-size: 7.5em;
}
.box-art {
    width: 30vw;
}
.tag-list {
    display: flex;
}
.tag-list li {
    border-radius: 10px;
    color: #dddddd;
    background-color: #335964;
    margin: 0 .5em;
    padding: 0 1em;
    border: 2px solid #397047;
}
.btn-large {
    border-radius: 3em;
    background-color: #1E83A2;
}
.grade-container p {
    font-size: 7.5em;
    font-family: 'Dosis', sans-serif;
}
.grade {
    color: rgb(63, 182, 16);
}

.doom{
  width: 30vw;
  min-width: 300px;
}

p{
	color: black;
}

h4{
	color: black;
}

