/* TODO: Remover redundância do código */
.image-banner, .side-banner {
	height: 30em;
}
.image-text, .side-text {
	color: #dddddd;
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Dosis', sans-serif;
	margin: 0 .5em;
}
.image-text {
	font-size: 5em;
}
.side-text {
	font-size: 3.5em;
}
.image-banner {
	background-image: url("../../../assets/devs.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: multiply;
	background-origin: center;
	/* margin-top: -5vh; */
}
li .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icon {
	height: 75%;
}
.descricao-banner .row {
	height: 120vh;
}
.parceria-button-title, button {
	font-family: 'VT323', sans-serif;
}
button {
	font-size: 3em;
}
.parceria-button .row {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gameboy {
	width: 100vw;
	opacity: 0.3;
	height: 90vh;
}
.descricao-banner .l8 {
	height: 120vh;
}
.icon-capsule {
	margin: 3em 0;
	height: 12.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icon-capsule h4 {
	font-size: 200%;
}
section {
	margin: 1em 0;
}
h4 {
	font-family: 'Dosis', sans-serif;
}