<section class="parceria-banner row first-section">
	<div class="col l8 image-banner">
		<h2 class="image-text">Quer vender seus jogos indie? Então seja bem vindo!</h2>
	</div>
	<!-- Cor está meio off, mas acho mais interessante fazer nos termos do materialize
	 do que ter linhas de código css dedicadas à cores. Depois me diz o que achas -->
	<div class="col l4 side-banner teal darken-3">
		<h3 class="side-text">Somos a distribuidora oficial dos jogos indies mais quentes no mercado</h3>
	</div>
</section>
<section class="descricao-banner">
		<div class="row">
			<h3>O que temos a apresentar?</h3>
			<!-- TODO: Alterar o div quando obtiver os icones necessários -->
			<div class="container center">
					<img class="gameboy" src="../../../assets/img/gameboy.png">
			</div>
		</div>
		<div class="row">
			<ul>
				<li>
					<div class="col l4 offset-l2 m4 offset-m2 s12 icon-capsule">
						<img class="icon" src="../../../assets/give-money.svg" alt="">
						<h4>Exclusividade gera mais lucro ao criador</h4>
					</div>
				</li>
				<li>
					<div class="col l4 m4 s12 icon-capsule">
						<img class="icon" src="../../../assets/exclamation.svg" alt="">
						<h4>Divulgação: seu jogo para o público certo</h4>
					</div>
				</li>
				<li>
					<div class="col l4 offset-l4 m4 offset-m4 s12 icon-capsule">
						<img class="icon" src="../../../assets/console.svg" alt="">
						<h4>Feedback direto dos seus jogadores</h4>
					</div>
				</li>
			</ul>
		</div>	
</section>
<section class="parceria-button">
	<div class="row">
		<h3 class="center parceria-button-title">Torne-se um parceiro</h3>
		<button class="waves-effect waves-light btn-large btn light-green accent-3">Press Start</button>
	</div>
</section>