
<fieldset><label>Informações para compra:</label>
		<div class="row">
				<div class="input-field col l6 s12">
					<input id="cartao" type="text" class="validate" name="cartao" ngModel #cartao="ngModel">
					<label for="cartao">n° do cartão</label>
			</div>
			<div select class="input-field col l6 s12">
					<input id="nometitular" type="text" class="validate" name="nometitular" ngModel #nometitular="ngModel">
					<label for="nometitular">Nome no cartão</label>
			</div>
		</div>
		<div class="row">
			<div select class="input-field col l6 s12">
				<input id="seguranca" type="text" class="validate" name="seguranca" ngModel #seguranca="ngModel">
				<label for="seguranca">n° de segurança</label>
			</div>
		</div>
	</fieldset>