<section class="first-section">
  <div class="container">
    <h1>Criando sua conta:</h1>
    <fieldset><label>Login</label>
      <div class="row">
          <div class="input-field col l12 s12">
            <input id="username" type="text" class="validate">
            <label for="username">Nome de usuário</label>
        </div>
      </div>
      <div class="row">
        <div select class="input-field col l12 s12">
            <input id="password" type="password" class="validate">
            <label for="password">senha</label>
        </div>
      </div>
      <div class="row">
        <div class="col l6 m6 s6">
          <div>
            <a href="cadastro">Clique aqui para criar uma conta</a>
          </div>
          <div>
            <a href="senha">Clique aqui para recuperar a senha</a>
          </div>
        </div>
      </div>
    </fieldset>
</div>
</section>